* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background: black;
    height: 80px;
    width: 100%;
}

label.Logo {
    color: white;
    font-size: 35px;
    line-height: 85px;
    padding: 0 20px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 25px;
}

a.active,a:hover {
    background: blue;
    transition: .5s;
}