* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.w1 {
    background: linear-gradient(#696969,black);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.Logo {
    color: white;
    font-size: 59px;
    letter-spacing: 5px;
    cursor: pointer;
}

span {
    color: red;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    font-size: 26px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: red;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h4 {
    color: white;
    font-size: 26px;
    margin-bottom: 50px;
}

.Profile {
    border-radius: 50%;
    position: absolute;
    width: 500px;
    height: auto;
    border-style: groove;
    border-color: red;
    left: 150%;
    top: -70%;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background: #696969;
}

h3 {
    color: white;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    cursor: pointer;
}

.abouttext {
    column-count: 2;
    column-rule: 2px solid red;
}

.SammukLogo {
    width: 150px;
    height: auto;
    margin-left: 8%;
    margin-top: 10px;
}